# proxy
.proxy.js

# env
.env

# DS_Store
.DS_Store

# compiled file
dist

# node_modules
node_modules

# coverage
coverage
.nyc_output

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log*

#mock
mock/*.json
