@import url('https://fonts.googleapis.com/css?family=Asap|Libre+Barcode+39+Text');
$font-display: 'Libre Barcode 39 Text', cursive;
$font-text: 'Asap', sans-serif;
$breakpoint-md: 800px;
$blue: #3FA9F5;
$green: #5CB85C;
$grey: #778888;
$white: #fff;
$black: #000;
$background: #A7A3FF;
$clock-col: #C9CFFF;
$accent-col: #E1F2EA;

*, *::before, *::after{
  box-sizing: border-box;
}
body{
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.section {
  display: none;
  padding: 20px 0;
  height: calc(100vh - 114px);
  overflow-y: auto;
  &.active {
    display: block;
  }
}

.row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 17px;
  padding: 0 10px 0 0;
}

.row .label {
  padding: 0 10px;
  flex-grow: 1;
  text-align: left;
  small {
    display: block;
    font-size: 70%;
    line-height: 1.4;
    font-weight: 400;
    opacity: 0.5;
  }
}
.preview-title {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  &+.input {
    width: 90px;
  }
}

.row .preview {
  font-size: 14px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  b {
    font-weight: 700;
    color: rgba(63, 169, 245, 0.8);
  }
}

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle+label,
label.standalone {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  height: 100%;
}

.row .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  height: 70px;
  padding: 0 0 0 10px;
}

.row .input-text {
  width: 50%;
  input[type="text"] {
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    color: white;
    background: #000;
  }
}

.row .input-select {
  width: 50%;
  select {
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    color: white;
    background: #000;
  }
}
